#heading {
  color: darkorange;
}
#subHeading {
  color: darkmagenta;
  background-color: darkseagreen;
}

html {
  background-color: black;
}
h1 {
  color: blueviolet;
}
h2 {
  color: chartreuse;
}
p {
  color: darkred;
}
