* {
  background: darkgrey;
}
div {
  width: 400px;
  height: 100px;
  margin: 10px;
  color: aliceblue;
}
.transition {
  background: cornflowerblue;
  transition: all 2s linear;
}
.transition:hover {
  background: orangered;
  transform: translateX(100px);
}
.animation {
  background: crimson;
  animation: move 5s infinite;
  /* animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite; */
}
.animation2 {
  background: black;
  animation: move2 5s 2;
  animation-fill-mode: forwards;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(20px);
    background: purple;
  }
  50% {
    transform: translateX(100px);
    background: hotpink;
  }
  75% {
    transform: translateX(-200px);
    background: grey;
  }
  90% {
    transform: translateX(20px);
    background: midnightblue;
  }
  100% {
    transform: translateX(0);
    background: crimson;
  }
}
@keyframes move2 {
  0% {
    opacity: 0;
  }
  25% {
    transform: translateX(200px);
    opacity: 0.25;
  }
  50% {
    transform: translateX(-100px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0.5;
  }
}
