/* Font-size font-family */

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap");

.fontTest {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
}

body {
  /* font-family: Helvetica; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1,
h2 {
  /* font-family: Verdana; */
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
}
