.banner {
  border: 5px solid red;
  padding: 10px;
  overflow: hidden;
}
img {
  float: left;
  width: 200px;
}
p {
  clear: left;
}
div {
  height: 200px;
  width: 33.3%;
  float: left;
}
.one {
  background: coral;
}
.two {
  background: cyan;
}
.three {
  background: pink;
}
h1 {
  clear: both;
}
.four {
  background: darkslategray;
}
